.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
bin/
obj/
ScaffoldingReadMe.txt
*.userprefs
*.pidb
*.dbmdl
*.bak
.vscode/
node_modules/
*.log
.env
.env.*
*~
*.bak
*.swp
publish/
.idea/
*.vspscc
*.vssscc
**/EndpointInfo/
dist/
out-tsc/
